/* Color template */
$black: black;
$gray: gray;
$white: white;
$red: red;
$mediumvioletred: mediumvioletred;
$orange: orange;

/* Media Query - PC first */
// X-Small devices (portrait phones, less than 576px)
// @mixin XS {
//   @media (max-width: 575.98px) {
//     @content;
//   }
// }

// Small devices (landscape phones, less than 768px)
@mixin SM {
  @media (max-width: 767.98px) {
    @content;
  }
}

// Medium devices (tablets, less than 992px)
@mixin MD {
  @media (max-width: 991.98px) {
    @content;
  }
}

// Large devices (desktops, less than 1200px) //default
// @mixin LG {
//   @media (max-width: 1199.98px) {
//     @content;
//   }
// }

// X-Large devices (large desktops, less than 1400px)
// @mixin XL {
//   @media (max-width: 1399.98px) {
//     @content;
//   }
// }
