@import "./component";

/* Media query template */

body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}
h1 {
  text-align: center;
}
/* Search Bar */
nav {
  text-align: center;
  .searchForm {
    width: 80%;
    height: 30px;
    display: flex;
    margin: auto;
    .searchInput {
      width: 70%;
      border: 0.1rem solid $gray;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
      &:focus {
        outline: none;
        border: 0.1rem solid $mediumvioletred;
      }
    }
    .searchBtn {
      width: 30%;
      color: $white;
      border: none;
      background: linear-gradient(-45deg, #ff7d31d3, #e62d03e8);
      &:focus {
        outline: none;
        font-weight: bold;
        font-size: larger;
        border: $mediumvioletred solid 0.1rem;
        background: linear-gradient(45deg, #fcd34d, #ef4444, #ec4899);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
      }
      &:hover {
        border: $mediumvioletred solid 0.1rem;
        font-weight: bold;
        font-size: larger;
        background: linear-gradient(45deg, #fcd34d, #ef4444, #ec4899);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
      }
    }
  }
  .clearSearch {
    margin: 2rem 0 0 0;
    border: none;
    background: none;
    &:hover {
      color: $mediumvioletred;
      border-bottom: 0.2rem solid $orange;
      font-weight: bold;
    }
  }
}
/* Issue Cards */
.issueCardSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 2rem;
  @include MD {
    grid-template-columns: 1fr 1fr;
  }
  @include SM {
    grid-template-columns: 1fr;
  }
  .cardItem {
    border: 0.1rem solid $gray;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    &:hover {
      border: 0.2rem solid $mediumvioletred;
      box-shadow: rgba(189, 123, 123, 0.338) 0px 20px 25px -5px, rgba(228, 26, 26, 0.579) 0px 10px 10px -5px;
    }
    .cardTop {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 0.1rem solid $gray;
      padding: 1rem;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0 1rem 0 0;
        z-index: 1000;
        &:hover {
          transform: scale(1.3);
          border: $orange;
        }
      }
      p {
        span {
          font-weight: bold;
        }
      }
    }
    .cardBottom {
      display: flex;
      flex-flow: wrap;
      padding: 1rem;
      p {
        background-color: orange; //label color change
        font-weight: bold;
        margin: 0.2rem;
        padding: 0.1rem 0.5rem;
        width: fit-content;
      }
    }
  }
}
